<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sigma Shopping List</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
        <script src="https://unpkg.com/htmx.org@1.9.6"></script>
        <style>
            body {
                font-family: "Montserrat";
            }
        </style>
    </head>

    <bodu class="" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        <nav>
        </nav>
        <div>
            <div>
                {% block content %}
                {% endblock %}
            </div>
        </div>
    {% block js %}
    {% endblock %}
    </body>
</html>
