venv/
**/venv/
**/.env
**/__pycache__/
**/*.mp4
onedong/*.weights
onedong/*.cfg
onedong/coco.names


.vscode/
onedong/main
onedong/main.o
onedong/compile_commands.json
onedong/.cache/
onedong/*.mp4
runs/
**/*.zip
yolov/dataset/
yolovbackup
